.mobile-social-buttons {
    display: none;
}
.contact-title::after {
    right: 2vw;
    width: calc(100% - 28vw);
}
.contact-title h1 {
    width: 25.5vw;
}
.contact-title h1::before {
    width: 71.2%;
}

.mail-icon-top {
    position: absolute;
    top: 32.5%;
    width: 64%;
    height: 8.5%;
    border-radius: 5px;
    border-top: 4px solid var(--blue-highlighted);
    border-left: 4px solid var(--blue-highlighted);
    border-right: 4px solid var(--blue-highlighted);
    filter: drop-shadow(0px 0px 15px #7fdfff7c)
            drop-shadow(0px 0px 5px var(--blue));
}
.mail-icon-top::before {
    position: absolute;
    content:"";
    left: -4.7%;
    top: 184.7%;
    border-radius: 3px;
    transform: rotate(27deg);
    width: 58.9%;
    height: 4px;
    background-color: var(--blue-highlighted);
}
.mail-icon-top::after {
    position: absolute;
    content:"";
    right: -5.2%;
    top: 184.7%;
    border-radius: 3px;
    transform: rotate(333deg);
    width: 58.5%;
    height: 4px;
    background-color: var(--blue-highlighted);
}
.mail-icon-bottom {
    position: absolute;
    top: 61.5%;
    width: 64%;
    height: 7%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 4px solid var(--blue-highlighted);
    border-right: 4px solid var(--blue-highlighted);
    border-bottom: 4px solid var(--blue-highlighted);
    filter: drop-shadow(0px 0px 15px #7fdfff7c)
            drop-shadow(0px 0px 5px var(--blue));
}
.mail-icon-bottom::before {
    position: absolute;
    content:"";
    left: -4px;
    bottom: 0;
    border-radius: 3px;
    width: 4px;
    height: 425%;
    background-color: var(--blue-highlighted);
}
.mail-icon-bottom::after {
    position: absolute;
    content:"";
    right: -4px;
    bottom: 0;
    border-radius: 3px;
    width: 4px;
    height: 425%;
    background-color: var(--blue-highlighted);
}
.contact-body {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 3%;
}
.contact-socials-side, .contact-form-side {
    position: relative;
    display: flex;  justify-content: center;  align-items: center;
    flex-direction: column;
    width: 45%; height: 100%;
    font-size: .9em;
}
.contact-form-side {
    margin-right: 2%;
}
.contact-socials-side strong {
    font-size: 1.1em;
}
.contact-socials-side h6 {
    margin: 0 0 2% ;
    text-align: center;
}
.contact-picture {
    filter: drop-shadow(2px 3px 4px rgba(0, 0, 0, 0.466));
    width: 250px;
    border-radius: 200px;
    border: 2px solid var(--blue-highlighted);
    filter:drop-shadow(0px 0px 7px var(--blue));
    box-shadow: inset 0px 0px 4px var(--blue);
    padding: 15%;
    transform: translateX(20%);
    background-color: #26243d;
}
.contact-info {
    display: flex;  align-items: center;
    flex-direction: row;
    height: 55%;
}
.left-side {
    align-items: flex-start !important;
}
.col {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
}
.col p {
    margin: 2%;
}

.contact-social-buttons {
    display: flex;
    justify-content: space-evenly;
}
.contact-social-buttons a img, .mobile-social-buttons a img {
    position: relative;
    margin: 8px;
    width: 48px; 
    padding: 3px;
    border: 2px solid var(--purple-darkest);
    border-radius: 25px
}
.contact-social-buttons a, .mobile-social-buttons a {
    z-index: 0 !important ;
    cursor: pointer;
    transition: all 100ms
}
.contact-social-buttons a:hover, .mobile-social-buttons a:hover {
    filter: brightness(2);
    transform: scale(1.05);
}
.resume-text {
    margin: 6% 0 0;
    font-size: 1.2em;
}
.resume-text a {
    color: var(--purple-dark) !important;
    text-decoration: underline;
}
.contact-form-side h1 {
    position: absolute;
    top: -4vw;
    text-transform: lowercase;
    color: var(--purple-darkest);
    font-weight:900 !important;
    font-size: 4.5vw;
    letter-spacing: 4px;
    left: 5.5vw;
    z-index: 5;
}
.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--purple-darkest);
    border-radius: 25px;
    padding: 4%;
    height: 86%;
    width: 95%;
    color: var(--blue);
    text-shadow: 2px 3px 1px rgba(0, 0, 0, 0.466);
}
.container-row {
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: row !important;
    width: 100%;
}
.contact-sub-container {
    display: flex;
    flex-direction: column;
    width: 44%;
    height: 55px;
    margin: 5px 3% 5px 3%;
}
label {
    margin: 5px 0 5px 0;
    display: flex;
    align-items: center;
    
}

input {
    border-radius: 5px;
    border: none;
    height: 25px;
    font-size: .9em;
    text-indent: .3em;
    padding: 3px;
}
input:focus, textarea:focus {
    outline: none;
}
.checkbox-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    align-items: center;
}
.checkbox-container2 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkbox-container2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 15px;
    position: relative;
    cursor: pointer;
}
.checkbox-label {
    line-height: 1;
    position: absolute;
    display: flex;
    margin-left: 5px;
    top: -2px;
}
.checkmark {
    position: absolute;

    left: 0;
    height: 15px;
    width: 15px;
    margin-right: 5px;
    background-color: rgba(0, 0, 0, 0.377);
    border-bottom: 1px solid rgba(255, 255, 255, 0.479);
    border-radius: 7px;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.checkbox-container2:hover input ~ .checkmark {
    background-color: rgba(0, 0, 0, 0.432);
}
.checkbox-container2 input:checked ~ .checkmark:after {
    display: block;
}
.checkbox-container2 .checkmark:after {
    right: 1px;
    bottom: 5px;
    width: 10px;
    height: 18px;
    border: solid white;
    border-width: 0 3px 3px 0;
    border-radius: 2px;
    filter: drop-shadow(3px 2px 1px rgba(0, 0, 0, 0.274));
    transform: rotate(40deg);
}

#business-label, #personal-label {
    display: flex;
    position: relative;
    justify-content: center;
    font-size: 125%;
    /* margin-left: 15px; */
    letter-spacing: 2px;
    align-items: center;
    font-family: 'Alumni Sans Pinstripe';
    font-weight: 700;
    text-transform: uppercase;
}

#message-label {
    margin-top: 15px;
    margin-bottom: 7px;
    width: 94%;
}
textarea {
    padding: 3px;
    width: 94%;    height: 37%;
    text-indent: .3em;
    border: none;
    border-radius: 5px;

}
.submit-btn {
    height: 38px !important;
    border-radius: 25px;
    padding: 20px;
    
    border: 3px solid var(--blue);
    background-color: transparent;
    color: var(--blue);
    bottom: 11.5%;
    transition: all 300ms
}
.submit-btn:hover {
    background-color: var(--blue);
    border: 3px solid var(--blue);
    color: var(--purple-darkest);
    font-weight: 900;
}
@media screen and (max-width: 1600px) {
    .contact-title {
        z-index: 5;
        width: 100%;
        height: 145px;
        bottom: calc(500px + .5vw);
    }
    .contact-title::after {
        height: 80px;
        width: calc(100% - 405px - 2.5vw);

    }
    .contact-title h1 {
        padding-bottom: 15px;
        padding-right: 20px;
        font-size: 110px;
        width: 405px;
        height: 100%;
    }
    .contact-title h1::before {
        width: 280px;
        bottom: 28px;
        left: 95px;
    }
    
    .contact-icon-container {
        width: 225px;
        height: 225px;
        left: -150px;
    }
    .contact-body {
        display: flex;
        width: 100%;
    }
    .contact-socials-side, .contact-form-side {
        justify-content: space-between;
        padding: 4% 0 3%;
        min-height: 500px;
        left: 0;
        top: 0;
        bottom: 0;
        width:min-content;
        min-width: 45%;
        max-width: 70%;
    }
    .contact-info {
        margin: 3% 0;
    }
    .contact-picture {
        width: 100%;
        min-width: 180px;
        padding: 15%;
        transform: none;
    }
    .left-side {
        min-width: 70%;
    }
    .contact-social-buttons {
        display: none;
    }
    .mobile-social-buttons {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;

    }

    .contact-form-side h1 {
        display: flex;
        width: 25vw;
        font-size: 70px;
        top: -3vw;
        left: 2vw;

        line-height: .8;
    }
    .contact-form {
        display: flex;
        position: absolute;
    }
    .checkbox-label {
        margin-left: -30%;
    }
    #subject-inquiry {
        width: 100% !important;
        display: flex;
        flex-direction: column !important;
    }
    #subject-inquiry div input {
        width: 94% !important;
    }
    #subject, #business-personal {
        width: 100%;
    }
    textarea {
        height: 25%;
    }
    .submit-btn {
        bottom: 3%
    }

}
@media screen and (max-width: 1420px) {
    .contact-title {
        top: calc(-145px - .5vw);
    }
    .contact-body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contact-socials-side {
        min-width: 75%;
        min-height:auto;
    }
    .contact-socials-side h6 {
        position: relative;
        height: auto;
        margin: 3% 0;
    }
    .contact-info {
        width: 100%;
        font-size: 1.05em;
        line-height: 140%;
    }
    .contact-picture {
        left: 0;
        min-width: auto;
        width: 165px !important;
        padding: 15%;
    }
    .mobile-social-buttons {
        width: 85%;
    }
    .contact-form-side {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 85%;
        width: 85%;
        bottom: 0;

        top: auto;
        left: auto;
    }
    .contact-form-side h1 {
        display: none;
    }
    .contact-form {
        left: auto;
        right: auto;
        height: 470px;
        min-width: 330px;
    }
}

@media screen and (max-width: 768px) {
    .contact-icon-container, .contact-title::after, .contact-title h1::before {
        display: none;
    }
    .contact-title {
        justify-content: center;
        left: auto;
        right: auto;
        margin: 0;        
        width: 150%;
        top: calc(-145px - 1vw);
    }
    .contact-title h1 {
        width: 100%;
        margin: 0 auto;
        padding: 0;
        justify-content: center;
        border-top-right-radius: 0;
        font-size: 25vw;
    }
    .contact-socials-side {
        min-width: 90%;
        margin: 0 auto;
    }
    .col p {
        margin: 1% 0;
    }
    .mobile-social-buttons {
        width: 90%;
    }
}