.mobile-social-buttons {
    display: none;
}
.contact-title {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 5;
    left: 2vw;
    width: 100%;
    height: 180px;
    bottom: calc(500px + .5vw);
}
.contact-title::after {
    content:"";
    display: flex;
    position: absolute;
    right: 2vw;   bottom: -.5vw;
    background-color: rgba(255, 255, 255, 0.075);
    height: 100px;
    width: calc(100% - 28vw);
    border-top-right-radius: 5px;
}
.contact-title h1 {
    position: absolute;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-transform: lowercase;
    font-size: 7vw;
    letter-spacing: .07em;
    width: 25.5vw;
    height: 100%;
    padding-bottom: .5vw;
    padding-right: 1.5vw;
    color: var(--blue-highlighted);
    text-shadow: 0px 0px 7px var(--blue),
    0px 0px 12px var(--blue);
    z-index: 2;
    line-height: 1;
    margin: 0;
    border-top-right-radius: 35px;
    background-color: #26243d;
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.322));
}
.contact-title h1::before {
    content:"";
    position: absolute;
    right: 2vw;
    bottom: 1.6vw;
    width: 71.2%;
    border-radius: 20px;
    padding-right: 10px;
    height: 2px;
    background-color: var(--blue-highlighted);
    box-shadow: 0px 0px 5px var(--blue),
    0px 0px 7px var(--blue);

}

.contact-icon-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #26243d;
    left: -9.75vw;
    border-radius: 250px;
    width: 14.5vw;
    height: 14.5vw;

    z-index: 3;
}
.mail-icon-top {
    position: absolute;
    top: 32.5%;
    width: 64%;
    height: 8.5%;
    border-radius: 5px;
    border-top: 4px solid var(--blue-highlighted);
    border-left: 4px solid var(--blue-highlighted);
    border-right: 4px solid var(--blue-highlighted);
    filter: drop-shadow(0px 0px 15px #7fdfff7c)
            drop-shadow(0px 0px 5px var(--blue));
}
.mail-icon-top::before {
    position: absolute;
    content:"";
    left: -4.7%;
    top: 184.7%;
    border-radius: 3px;
    transform: rotate(27deg);
    width: 58.9%;
    height: 4px;
    background-color: var(--blue-highlighted);
}
.mail-icon-top::after {
    position: absolute;
    content:"";
    right: -5.2%;
    top: 184.7%;
    border-radius: 3px;
    transform: rotate(333deg);
    width: 58.5%;
    height: 4px;
    background-color: var(--blue-highlighted);
}
.mail-icon-bottom {
    position: absolute;
    top: 61.5%;
    width: 64%;
    height: 7%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 4px solid var(--blue-highlighted);
    border-right: 4px solid var(--blue-highlighted);
    border-bottom: 4px solid var(--blue-highlighted);
    filter: drop-shadow(0px 0px 15px #7fdfff7c)
            drop-shadow(0px 0px 5px var(--blue));
}
.mail-icon-bottom::before {
    position: absolute;
    content:"";
    left: -4px;
    bottom: 0;
    border-radius: 3px;
    width: 4px;
    height: 425%;
    background-color: var(--blue-highlighted);
}
.mail-icon-bottom::after {
    position: absolute;
    content:"";
    right: -4px;
    bottom: 0;
    border-radius: 3px;
    width: 4px;
    height: 425%;
    background-color: var(--blue-highlighted);
}

.contact-socials-side {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    width: 500px;
    height: 100%;
    left: 2vw;

    font-size: .9em;
}
.contact-socials-side strong {
    font-size: 1.1em;
}
.contact-socials-side h6 {
    margin-bottom: 5%;
    text-align: center;
    margin-top: 10%;
}
.contact-picture {
    position: absolute;
    filter: drop-shadow(2px 3px 4px rgba(0, 0, 0, 0.466));
    width: 100%;
    left: 10%;
    border-radius: 200px;
    border: 2px solid var(--blue-highlighted);
    filter:drop-shadow(0px 0px 7px var(--blue));
    box-shadow: inset 0px 0px 4px var(--blue);
    padding: 15%;
    background-color: #26243d;
}
.contact-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.col {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;
}
.col p {
    margin: 3px;
}
.left-side {
    margin-top: 13%;
}

.contact-button-container {
    display: flex;
    flex-direction: row;

}
.contact-social-buttons {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: -5%;
    z-index: 5;
}
.contact-social-buttons a img, .mobile-social-buttons a img {
    position: relative;
    margin: 8px;
    width: 48px; 
    padding: 3px;
    border: 2px solid var(--purple-darkest);
    border-radius: 25px
}
.contact-social-buttons a, .mobile-social-buttons a {
    z-index: 0 !important ;
    cursor: pointer;
    transition: filter 0.1s,
    transform 0.15s;
}
.contact-social-buttons a:hover, .mobile-social-buttons a:hover {
    filter: brightness(2);
    transform: scale(1.05);
}
.resume-text {
    position: absolute;
    top: 90%;
    font-size: 1.5vh;

}
.resume-text a {
    color: var(--purple-dark) !important;
    text-decoration: underline;
}
.contact-form-side {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 46%;
    right: 5%;
    z-index: 5;
    text-align: center;
}
.contact-form-side h1 {
    position: absolute;
    top: -4vw;
    text-transform: lowercase;
    color: var(--purple-darkest);
    font-weight:900 !important;
    font-size: 4.5vw;
    letter-spacing: 4px;
    left: 6.5vw;
    z-index: 5;
}
.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--purple-darkest);
    border-radius: 25px;
    padding: 4%;
    height: 86%;
    width: 95%;
    color: var(--blue);
    text-shadow: 2px 3px 1px rgba(0, 0, 0, 0.466);
}
.container-row {
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: row !important;
    width: 100%;
}
.contact-sub-container {
    display: flex;
    flex-direction: column;
    width: 44%;
    height: 55px;
    margin: 5px 3% 5px 3%;
}
label {
    margin: 5px 0 5px 0;
    display: flex;
    align-items: center;
    
}

input {
    border-radius: 5px;
    border: none;
    height: 25px;
    font-size: .9em;
    text-indent: .3em;
    padding: 3px;
}
input:focus, textarea:focus {
    outline: none;
}
.checkbox-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    align-items: center;
}
.checkbox-container2 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkbox-container2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 15px;
    position: relative;
    cursor: pointer;
}
.checkbox-label {
    line-height: 1;
    position: absolute;
    display: flex;
    margin-left: 5px;
    top: -2px;
}
.checkmark {
    position: absolute;

    left: 0;
    height: 15px;
    width: 15px;
    margin-right: 5px;
    background-color: rgba(0, 0, 0, 0.377);
    border-bottom: 1px solid rgba(255, 255, 255, 0.479);
    border-radius: 7px;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.checkbox-container2:hover input ~ .checkmark {
    background-color: rgba(0, 0, 0, 0.432);
}
.checkbox-container2 input:checked ~ .checkmark:after {
    display: block;
}
.checkbox-container2 .checkmark:after {
    right: 1px;
    bottom: 5px;
    width: 10px;
    height: 18px;
    border: solid white;
    border-width: 0 3px 3px 0;
    border-radius: 2px;
    filter: drop-shadow(3px 2px 1px rgba(0, 0, 0, 0.274));
    transform: rotate(40deg);
}

#business-label, #personal-label {
    display: flex;
    position: relative;
    justify-content: center;
    font-size: 125%;
    /* margin-left: 15px; */
    letter-spacing: 2px;
    align-items: center;
    font-family: 'Alumni Sans Pinstripe';
    font-weight: 700;
    text-transform: uppercase;
}

#message-label {
    margin-top: 15px;
    margin-bottom: 7px;
    width: 94%;
}
textarea {
    padding: 3px;
    width: 94%;
    text-indent: .3em;
    border: none;
    height: 37%;
    border-radius: 5px;
}
.submit-btn {
    position: absolute;
    height: 38px !important;
    border-radius: 25px;
    padding: 20px;
    
    border: 3px solid var(--blue);
    background-color: transparent;
    color: var(--blue);
    bottom: 11.5%;
    transition: background-color 0.4s,
    border 0.3s,
    color 0.3s;
}
.submit-btn:hover {
    background-color: var(--blue);
    border: 3px solid var(--blue);
    color: var(--purple-darkest);
    font-weight: 900;
}
@media screen and (max-width: 1600px) {
    .contact-title {
        z-index: 5;
        width: 100%;
        height: 145px;
        bottom: calc(500px + .5vw);
        
    }
    .contact-title::after {
        height: 80px;
        width: calc(100% - 405px - 2.5vw);

    }
    .contact-title h1 {
        padding-bottom: 15px;
        padding-right: 20px;
        font-size: 110px;
        width: 405px;
        height: 100%;
    }
    .contact-title h1::before {
        width: 280px;
        bottom: 28px;
        left: 95px;
    }
    .contact-icon-container {
        width: 225px;
        height: 225px;
        left: -150px;
    }
    .contact-socials-side {
        display: flex;
        position: relative;
        min-height: 500px;
        left: auto;
        top: auto;
        bottom: 0;
        margin-left: 35px;
        margin-right: 35px;
        width:min-content;
        min-width: 45%;
        max-width: 70%;
    }

    .contact-picture {
        min-width: 180px;
        max-width: 250px;
        padding: 27px;
        left: -27%;
        bottom: 0;
    }
    .contact-info {
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .left-side {
        min-width: 70%;
        margin-top: 10px;
    }
    .col {
        min-height: 150px;

    }
    .contact-social-buttons {
        display: none;
    }
    .mobile-social-buttons {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }
    .resume-text {
        position: absolute;
        top: 300%;

    }
    .contact-form-side {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 0;
        min-height: 500px;
        min-width: 50%;
        max-width: 70%;
    }
    .contact-form-side h1 {
        display: flex;
        width: 25vw;
        font-size: 70px;
        position: relative;
        left: 2vw;
        top: -55%;
        line-height: .8;
    }
    .contact-form {
        display: flex;
        position: absolute;
        width: 85%;
        min-height: 40px;
        bottom: 25px;
    }

    .checkbox-label {
        margin-left: -30%;
    }
    #subject-inquiry {
        width: 100% !important;
        display: flex;
        flex-direction: column !important;
    }
    #subject-inquiry div input {
        width: 94% !important;
    }
    #subject, #business-personal {
        width: 100%;
    }
    textarea {
        height: 25%;
    }
    .submit-btn {
        bottom: 3%
    }

}
@media screen and (max-width: 1420px) {
    .contact-title {
        top: calc(-145px - .5vw);
    }
    .contact-body {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .contact-socials-side {
        min-width: 75%;
        right: auto;
        min-height:auto;
        margin: 0 auto;
    }
    .contact-socials-side h6 {
        position: relative;
        height: auto;

        margin-top: 0; 
        margin-bottom: 0;

        top: 45px;
    }
    .contact-info {
        align-items: flex-start;
        margin-top: 70px;
        width: 100%;
        margin-left: 0;
        top: 0;
        font-size: 1.05em;
        left: 0;
        line-height: 140%;
    }
    .left-side {
        margin-top: 0px;
    }
    .contact-picture {
        left: 0;
        min-width: auto;
        width: 165px !important;
        padding: 15%;
    }
    .mobile-social-buttons {
        width: 85%;
    }
    .resume-text {
        position: relative;
        top: auto;
        bottom:auto;
        margin: 15px 0;
        font-size: 1.2em;
    }
    .contact-form-side {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 85%;
        width: 85%;
        bottom: 0;

        top: auto;
        left: auto;
        right: -7.5%;
    }
    .contact-form-side h1 {
        display: none;
    }
    .contact-form {
        left: auto;
        right: auto;
        height: 470px;
        min-width: 330px;
    }
}

@media screen and (max-width: 768px) {
    .contact-icon-container {
        display: none;
    }
    .contact-title {
        position: absolute;
        display: flex;
        justify-content: center;
        left: auto;
        right: auto;
        margin: 0;        
        width: 150%;
        top: calc(-145px - 1vw);
    }
    .contact-title::after {
        display: none;
    }
    .contact-title h1 {
        width: 100%;
        margin: 0 auto;
        padding: 0;
        justify-content: center;
        border-top-right-radius: 0;
        font-size: 9em;
    }
    .contact-title h1::before {
        display: none;
    }
    .contact-socials-side {
        min-width: 90%;
        margin: 0 auto;
    }
    .contact-picture {
        left: auto;
        right: 0;
        width: 150px !important;
        padding: 15%;
        /* margin-left: -33%; */
    }
    .mobile-social-buttons {
        width: 90%;
    }
    .col {
        display: flex;
        justify-content: center;
        min-width: none;
    }

    .left-side {
        max-width: 100px !important;
        flex-direction: column;
        font-size: 80%;
    }
}