/* FONTS API KEY AIzaSyDrDAiFV61GV2BbcMHrZtAyJOvcq2Adzwo */

:root {
    --purple: #957bf1;
    --purple-highlighted: #af99ff; 
    --purple-lighter: #dabfff;
    --purple-dark: #4f518c;
    --purple-darkest: #26243d;
    --blue: #7fdeff;
    --blue-highlighted: #b4dfee;
}

h1, h2, h3, h4 {
    font-family: 'Alumni Sans Pinstripe';
}
a {
    text-decoration: none;
    color: var(--blue) !important;
}
body {
    font-family: 'Poppins';
    background-color: var(--purple-dark);
    overflow-x: hidden;
}
main {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, #7fdfffc7 100%);
    margin-top: 21px;
    min-height: 700px;

    overflow: hidden;
}
/* .page-background {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 81vh;
    justify-content: center;
    z-index: 0;
}

.page-background img {
    image-rendering: pixelated;
    position: absolute;
    width: 50vw;
    left: -20vw;
    background-repeat: no-repeat;
} */
.trees, .city1, .city2 {
    bottom: 0px;
}
.mountains {
    bottom: 30px;
}
#stars1 {
    top: -20px;

    animation: scrollRight1 40s;
    animation-iteration-count: infinite;
}
#stars2 {
    animation: scrollRight2 40s;
    animation-iteration-count: infinite;
}
#stars3 {
    animation: scrollRight3 40s;
    animation-iteration-count: infinite;
}
.object {
    position: absolute;
    image-rendering: pixelated;
    width: 2000px;
    height: 90vh;
    top: 0;
}

.nav-burger {
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: center; 
    align-items: center;

    width: 85px; height: 85px;
    top: 0px; right:0px;
    border-radius: 5px;
    background-color: transparent;

    cursor: pointer;
    z-index: 6;

    transition: filter 0.15s,
    background-color 0.15s;
}
.burger-bar {
    display: flex;

    width: 35px; height: 3px;
    margin: 5px;
    border-radius: 5px;
    background-color: var(--purple);
    
    transition: transform 0.4s,
    width 0.4s,
    opacity 0.1s,
    background-color 0.15s;
}

.navbar {
    position: relative;
    display: flex;
    justify-items: center;

    height: 100px;
    padding: 10px 0px 10px 0px;
    background-color: transparent !important;
    
    box-shadow: none;
}
.navbar-collapse {
    position: absolute;

    bottom: 30px; right: 20px !important; 
    
    z-index: 5;
}
.navbar-brand {
    position: absolute;
    margin: 25px auto;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 195px;
    border-radius: 3px;
    outline: 3px solid var(--purple);
    height: 65px;
    z-index: 0;
    transition: width 0.3s ease-in-out,
    height 0.3s ease-in-out,
    left 0.3s ease-in-out,
    outline-color 0.6s;
    z-index: 5;
}
.navbar-brand::before {
    content: "";
    width: 207px;
    height: 12px;
    left: 1px;
    bottom: -59px;
    background-color: var(--purple-dark);
    position: relative;
    z-index: 2;
    transition: width 0.4s 0.1s;
}
.navbar-brand:hover::before {
    width: 0px;
    transition: width 0.001s;
}
.navbar-brand:hover {
    outline-color: var(--purple-highlighted);
    transition: outline-color 0.4s;
}
.navbar-brand::after {
    content: "";
    filter: drop-shadow(0px 0px 3px var(--blue));
    width: 0px;
    border-radius: 3px;
    height: 1px;
    left: 1px;
    bottom: -39px;
    background-color: var(--blue);
    position: relative;
    z-index: 1;
    transition: width 0.1s 0.5s;
}
.navbar-brand:hover::after {
    width: 197px;
    transition: width 0.3s 0.1s;
}
.navbar-brand:hover h1 {
    text-shadow: 0px 0px 5px var(--blue);
    transition: text-shadow 0.1s;
}
.navbar-brand:hover h2 {
    margin-left: -45px;
    color: var(--purple-highlighted);
    transition: margin-left 0.5s cubic-bezier(.36,.83,.11,.98) 0.05s,
    margin-top 0.2s ease-in-out,
    color 0.5s;
}

.navbar-brand h1 {
    position: relative;
    color: var(--blue);
    /* text-shadow: 0px 0px 3px var(--purple-darkest); */
    font-weight: 100;
    font-size: 2.5em;
    padding: 0px 12px 5px 17px;
    letter-spacing: .5rem;
    line-height: 0;
    bottom: 0px;
    z-index: 2;
    transition: font-size 0.3s,
    letter-spacing 0.3s,
    text-shadow 0.5s;
}

.navbar-brand h2 {
    position: absolute;
    text-align: center;
    color: var(--purple);
    padding: 2px 2px 2px 6px;
    letter-spacing: .3em;
    font-size: .8em;
    text-indent: 0px;
    font-family: 'Poppins';
    font-weight: 900;
    line-height: 1;
    margin-top: 75px;
    margin-left: 105px;
    background-color: var(--purple-dark);
    z-index: 1;
    transition: margin-left 0.6s ease-in-out 0.12s,
    margin-top 0.3s,
    color 0.6s;
}

.nav-link-current {
    pointer-events: none;
    opacity: 55%;
    color: var(--purple-darkest) !important;
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.404);
    transition: text-shadow 0.3s,
    color 0.3s;
}

.nav-link {
    margin: 10px;
    font-size: 1.1em;
    color: var(--blue); 
    transition: text-shadow 0.3s,
    color 0.3s,;
    z-index: 5;
}
.nav-link:hover {
    text-shadow: 0px 0px 3px var(--blue);
    color: var(--blue-highlighted) !important;
    transition: text-shadow 0.2s,
    color 0.2s;
}
#home::after {
    content: "";
    filter: drop-shadow(0px 0px 2px var(--blue));
    width: 0px !important;
    border-radius: 3px;
    height: 1px;
    left: 27px;
    top: 46px;
    background-color: var(--blue);
    position: absolute;
    z-index: 1;
    transition: width 0.1s 0.5s;
}
#home:hover::after {
    width: 52px !important;
    background-color: var(--blue-highlighted);
    transition: width 0.25s 0.05s;
}
#home::before {
    content: "";
    width: 56px !important;
    height: 11px;
    left: 25px;
    top: 42px;
    background-color: var(--purple-dark);
    position: absolute;
    z-index: 2;
    transition: width 0.4s 0.1s;
}
#home:hover::before {
    width: 0px !important;
    transition: width 0.001s;
}
#about::after {
    content: "";
    filter: drop-shadow(0px 0px 2px var(--blue));
    width: 0px !important;
    border-radius: 3px;
    height: 1px;
    left: 130px;
    top: 46px;
    background-color: var(--blue);
    position: absolute;
    z-index: 1;
    transition: width 0.1s 0.5s;
}
#about:hover::after {
    width: 54px !important;
    background-color: var(--blue-highlighted);
    transition: width 0.25s 0.05s;
}
#about::before {
    content: "";
    width: 59px !important;
    height: 11px;
    left: 128px;
    top: 42px;
    background-color: var(--purple-dark);
    position: absolute;
    z-index: 2;
    transition: width 0.4s 0.1s;
}
#about:hover::before {
    width: 0px !important;
    transition: width 0.001s;
}
#portfolio::after {
    content: "";
    filter: drop-shadow(0px 0px 2px var(--blue));
    width: 0px !important;
    border-radius: 3px;
    height: 1px;
    left: 236px;
    top: 46px;
    background-color: var(--blue);
    position: absolute;
    z-index: 1;
    transition: width 0.2s 0.5s;
}
#portfolio:hover::after {
    width: 71px !important;
    background-color: var(--blue-highlighted);
    transition: width 0.3s 0.05s;
}
#portfolio::before {
    content: "";
    width: 76px !important;
    height: 11px;
    left: 234px;
    top: 42px;
    background-color: var(--purple-dark);
    position: absolute;
    z-index: 2;
    transition: width 0.5s 0.1s;
}
#portfolio:hover::before {
    width: 0px !important;
    transition: width 0.001s;
}
#contact::after {
    content: "";
    filter: drop-shadow(0px 0px 2px var(--blue));
    width: 0px !important;
    border-radius: 3px;
    height: 1px;
    left: 360px;
    top: 46px;
    background-color: var(--blue);
    position: absolute;
    z-index: 1;
    transition: width 0.2s 0.5s;
}
#contact:hover::after {
    width: 71px !important;
    background-color: var(--blue-highlighted);
    transition: width 0.3s 0.05s;
}
#contact::before {
    content: "";
    width: 76px !important;
    height: 11px;
    left: 358px;
    top: 42px;
    background-color: var(--purple-dark);
    position: absolute;
    z-index: 2;
    transition: width 0.4s 0.1s;
}
#contact:hover::before {
    width: 0px !important;
    transition: width 0.001s;
}

.resume {
    position: relative;
    display: flex;
    width: 100vw;
    height: 82vh;
    margin-bottom: -10px;
    z-index: 0;
}
footer {
    display: flex;
    position: relative;
    width: 100vw;
    /* bottom: 0; */
    flex-direction: column;
    align-items: center;
    font-size: 90%;
    height: 70px;
    background: rgb(79,81,140);
    background: radial-gradient(circle, rgb(77, 78, 128) 0%, rgba(53,54,107,1) 100%);
}
footer code {
    color: white;
    margin-top: 20px;
    
    opacity: 90%;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.514);

}
footer p {
    margin-top: 2px;
    color: white;
    opacity: 70%;
    font-size: .8em;
}
@-webkit-keyframes scrollRight1 {
    0% {
        right: 0;
    }
    
    100% {
        right: -100px;
    }
}
@-moz-keyframes scrollRight1 {
    0% {
        right: 0;
    }
    
    100% {
        right: -100px;
    }
}
@-o-keyframes scrollRight1 {
    0% {
        right: 0;
    }
    
    100% {
        right: -100px;
    }
}
@keyframes scrollRight1 {
    0% {
        right: 0;
    }
    
    100% {
        right: -50px;
    }
}
@-webkit-keyframes scrollRight2 {
    0% {
        right: 0;
    }
    
    100% {
        right: -200px;
    }
}
@-moz-keyframes scrollRight2 {
    0% {
        right: 0;
    }
    
    100% {
        right: -200px;
    }
}
@-o-keyframes scrollRight2 {
    0% {
        right: 0;
    }
    
    100% {
        right: -200px;
    }
}
@keyframes scrollRight2 {
    0% {
        left: 0;
    }
    
    50% {
        left: -90px;
    }
    100% {
        left: 0;
    }
}
@-webkit-keyframes scrollRight3 {
    0% {
        right: 0;
    }
    
    100% {
        right: -300px;
    }
}
@-moz-keyframes scrollRight3 {
    0% {
        right: 0;
    }
    
    100% {
        right: -300px;
    }
}
@-o-keyframes scrollRight3 {
    0% {
        right: 0;
    }
    
    100% {
        right: -300px;
    }
}
@keyframes scrollRight3 {
    0% {
        right: 0;
    }
    
    50% {
        right: -150px;
    }
    100% {
        right: 0;
    }
}
@-webkit-keyframes scrollUp {
    0% {
        top: -3vh;
    }
    5% {
        top: 3vh;
    }
    95% {
        top: 3vh;
    }
    100% {
        top: -3vh;
    }
}
@-moz-keyframes scrollUp {
    0% {
        top: -3vh;
    }
    5% {
        top: 3vh;
    }
    95% {
        top: 3vh;
    }
    100% {
        top: -3vh;
    }
}
@-o-keyframes scrollUp {
    0% {
        top: -3vh;
    }
    5% {
        top: 3vh;
    }
    95% {
        top: 3vh;
    }
    100% {
        top: -3vh;
    }
}
@keyframes scrollUp {
    0% {
        top: -3vh;
    }
    5% {
        top: 3vh;
    }
    95% {
        top: 3vh;
    }
    100% {
        top: -3vh;
    }
}
@media screen and (max-width: 1500px) {
    .portfolio-right-side {
        flex-direction: column;
    }
}
@media screen and (max-width: 992px) {
    .navbar {
        position: fixed;
        z-index: 999;
        backdrop-filter: blur(7px) !important;
        width: 100%;
        height: 85px;
        top: 0;
    }
    .navbar-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: var(--purple-darkest);
        opacity: 50%;
    }
    .navbar-brand {
        height: 55px;
        width: 170px;
        font-size: 100%;
        outline: none;
        border-top: 3px solid var(--purple);
        border-left: 3px solid var(--purple);
        border-right: 3px solid var(--purple);
        transition: border-color 0.5s;
    }
    .navbar-brand:hover {
        border-color: var(--purple-highlighted);
        transition: border-color 0.5s;
    }
    .navbar-brand::before {
        position: absolute;
        width: 109px;
        height: 3px;
        background-color: var(--purple);
        bottom: 0;
        left: 0;
        border-radius: 0px;
        transition: background-color 0.5s;
    }
    .navbar-brand:hover::before {
        width: 109px;
        background-color: var(--purple-highlighted);
        transition: background-color 0.5s;
    }
    .navbar-brand::after {
        filter: none;
        position: absolute;
        width: 15px;
        height: 3px;
        background-color: var(--purple);
        bottom: 0;
        left: 150px;
        border-radius: 0px;
        transition: background-color 0.5s;
    }
    .navbar-brand:hover::after {
        width: 15px;
        background-color: var(--purple-highlighted);
        transition: background-color 0.5s;
    }
    .navbar-brand h1 {
        border-bottom: no;
        margin: 0;
    }
    .navbar-brand h2 {
        bottom: -15px;
        width: auto;
        height: auto;
        margin-left: 95px;
        background-color: transparent;
    }
    .navbar-brand:hover h2 {
        margin-left: 95px !important;
    }
    .nav-burger {  
        display: flex;
    }
    .nav-burger:hover, .nav-burger.active {
        background-color: rgba(255, 255, 255, 0.082);
    }
    .nav-burger:hover .burger-bar, .nav-burger.active .burger-bar {
        background-color: var(--purple-highlighted);
    }
    .nav-burger.active #burger-bar1 {
        width: 40px;
        transform: rotate(45deg) translate(9px, 10px);
    }
    .nav-burger.active #burger-bar2 {
        opacity: 0;
    }
    .nav-burger.active #burger-bar3 {
        width: 40px;
        transform: rotate(-45deg) translate(9px, -10px);
    }
    .navbar-collapse {
        position: fixed;
        left: auto;
        transform: translateX(20px);
        top: 83px;
        background-color: var(--purple-darkest) !important;
        height: 355px;
        width: 260px;
        padding: 3px;
        display: flex;
        /* justify-content: center; */
        align-items: center;
        border-bottom-left-radius: 8px;
        transition: transform 0.5s ease-in-out;
        z-index: 999 !important;
    }
    .navbar-collapse.collapsed {
        transform: translateX(290px);
    }
    .nav {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 351px;
        
    }
    .nav-link.nav-link-current {
        opacity: 100%;
        color: var(--blue-highlighted) !important;
        text-shadow: none;
        text-decoration: underline;
        text-underline-offset: 8px;
    }
    .nav-link {

        display: flex;
        /* display: none; */
        align-items: center;
        justify-content: center;
        font-size: 2em;
        height: 85px;
        width: 100%;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        margin: 0;
        cursor: pointer;
        background-color:#302d4e;
        z-index: 9999 !important;
    }
    #home::before {
        display: none;
    }
    #home::after {
        display: none;
    }
    #home {
        top: 60px;
    }
    #about::before {
        display: none;
    }
    #about::after {
        display: none;
    }
    #about {
        top: 140px;
    }
    #portfolio::before {
        display: none;
    }
    #portfolio::after {
        display: none;
    }
    #portfolio {
        top: 220px;
    }
    #contact::before {
        display: none;
    }
    #contact::after {
        display: none;
    }
    #contact {
        top: 300px;

    }
}